/* body{
    background-color: #b4a0a0;
}

.weather-container{
    background-color: rgb(59, 59, 194);
    height: 400px;
    width: 600px;
    text-align: center;
    border-radius: 5px;
    margin: 50px auto;
} */


.modal-content2{
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}


#modal-body2 h5, #modal-body2 p {
    font-size: clamp(0.6em, 2vw, 1em); /* Dynamically adjust based on screen size */
}


#modal-body2 button {
    font-size: clamp(0.6em, 2vw, 1em); /* Adjust font size based on screen size */
    padding: clamp(3px, 2vw, 5px) clamp(6px, 4vw, 10px); /* Adjust padding based on screen size */
}