asgiref==3.8.1
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
Django==5.0.6
h3==3.7.7
idna==3.7
numpy==2.0.0
pycparser==2.22
pytz==2024.1
requests==2.32.3
setuptools==70.3.0
sqlparse==0.5.0
timezonefinder==6.5.2
tzdata==2024.1
urllib3==2.2.1
