<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete {{ city|title }}</title>
    
</head>
<body>
<div class="confirmation">
    <h2>Are you sure you want to delete {{ city }}?</h2>
    <form action="" method="post" style="display:inline;">
        {% csrf_token %}
        <!-- <a href="{% url 'delete' city %}">Delete</a> -->
        <button type="submit" class="btn btn-danger">Confirm</button>
    </form>
    <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
</div>

</body>
</html>


