{% extends "base.html" %}
{% load static %}


{% block title %}Weather App{% endblock %}

{% block content %}
    <!-- Messages Section -->
    <ul class="messages">
        {% if messages %}
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}   <button class="close-message" onclick="removeMessage(this)"><i class="fa fa-close"></i></button></li>   
                
            {% endfor %}
        {% endif %}
    </ul>
    

    <div class="items">
        <div class="clock">
            <span id="hrs">00</span>
            <span>:</span>
            <span id="min">00</span>
            <span>:</span>
            <span id="sec">00</span>
            <span id="am"></span>

        </div>
        <div class="hover-text">get weather of current location</div>
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="myitems">
                <div class="searchBox">
                    <input class="searchInput"type="text" name="user_data" placeholder="Search">
                    <button type="submit"  class="searchButton" class="btn btn-primary" data-mdb-ripple-init>
                        <i class="fas fa-search"></i>
                    </button> 
                </div>

                <button type="submit" value="Submit" name="current-location" class="current-location" >
                    <i class="fa-solid fa-location-dot"></i>
                </button>
                <div class="hover-text">get weather of current location</div>
            </div>
            <!-- <input class="" type="text" name="user_data" placeholder="Search City" aria-label="Search">
            <button type="submit" value="Submit">submit</button> 

            <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                <i class="fas fa-search"></i>
              </button> -->
            <!-- <button type="submit" value="Submit" name="current-location" >
                <i class="fa-solid fa-location-dot"></i>
            </button>
            <div class="hover-text">get weather of current location</div> -->
            <!-- <button type="submit" value="Submit" name="current-location">get current weather</button> -->
        </form>


        <div class="container">
            {% if weather_data %}
                        {% include 'weather.html' with weather_data=weather_data %}
            {% endif %}
        </div>

    </div>
    <!-- External JS file -->
    <script type="text/javascript" src="{% static 'app/js/scripts.js' %}"></script>
    <script>
        function removeMessage(button) {
        var messageItem = button.parentElement;
        messageItem.style.display = 'none';
    }

    </script>
    


{% endblock %}
