{% extends "base.html" %}

{% block title %}{{ weather_data.city }}{% endblock %}

{% block content %}

<body>
    {% if weather_data %}
            <div class="weather-container">
                <div class="weather-button">
                    <a href="{% url 'index' %}"><button>Back</button></a>
                    <!-- <button onclick="window.location.href='{% url 'index' %}'">Back</button> -->
                </div>
                <div class="weather-result">
                    <h1>{{ weather_data.city }}, {{ weather_data.country }}</h1>
                    <img src="http://openweathermap.org/img/wn/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}">
                    <h3>Temperature:  {{ weather_data.temperature }}°C</h3>
                    <p>Feels Like: {{ weather_data.feels_like }}°C</p>
                    <p>Min Temperature: {{ weather_data.temp_min }}°C</p>
                    <p>Max Temperature: {{ weather_data.temp_max }}°C</p>
                    <p>Visibility: {{ weather_data.visibility }} km</p>
                    <p>Pressure: {{ weather_data.pressure }} hPa</p>
                    <p>Humidity: {{ weather_data.humidity }}%</p>
                    <p>Wind Speed: {{ weather_data.wind_speed }} m/s</p>
                    <p>Wind Direction: {{ weather_data.wind_deg }}°</p>
                    <p>Description: {{ weather_data.description }}</p>
                    <p>Wind: {{weather_data.clouds}}</p>
                </div>
                
            </div>
        
    {% endif %}
    
{% endblock %}


