body{
    background-color: #b4a0a0;
}

.weather-container{
    background-color: rgb(59, 59, 194);
    height: 400px;
    width: 600px;
    text-align: center;
    border-radius: 5px;
    margin: 50px auto;
}
