body {
    font-family: Arial, sans-serif;
    background-color: #b4a0a0;
    text-align: center;
    padding: 50px;
    position: relative; /* Add this */
}

form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #8f978f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form2 img{
    height: 80px;
    width: 80px;
}

.container {
    border-radius: 10px;
    position: relative;
    margin: 0 auto; /* Center the container */
    width: 450px;
    height: 300px;
    
}

.icon-container{
    margin:5px;
    display: flex;
    gap: 100px;
    
}
.icon-container button{
    height: 35px;
    width: 300px;
}

/* the icons */
/* .icon-container{
    margin: 5px;
} */


/* the weather items */
/* .icon-container {
    display: flex;
    gap: 80px; /* Adjust the gap as needed *
    align-items: center; /* Aligns items vertically *
} */

.weather-results {
    background-color: white;
    border: 1px solid #f3ecec;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.weather-results h2 {
    margin-top: 0;
}

.weather-results img {
    display: block;
    margin: 10px auto;
}

/* Messages */
.messages {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    position: absolute; /* Change to absolute */
    top: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 350px; /* Adjust width as needed */
    z-index: 1000; /* Ensure it is above other elements */
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.messages li.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.messages li.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.messages li.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.messages .del-msg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
    color: #721c24;
}



.custom-button {
    background-color: #8f978f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Ensure no underline */
    display: inline-block; /* Ensures the anchor is displayed like a button */
}

.custom-button:hover {
    background-color: #7d887d; /* Optional: Darker shade for hover effect */
}
